
/*GENERAL*/
body,html{
	margin: 0;
	overflow-x: hidden;
	font-family: "Inter", sans-serif;
}
*{
	margin:0;
	padding:0;
}
li{
	list-style: none;
	padding-bottom: 8px;
}

a {
	text-decoration: none;
}
a:hover {
	color: gray;
}


// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}



/*DESKTOP*/

.header {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 140px;
	padding-bottom: 100px;
	margin: 0 auto;
	background-color: white;
	color: #020202;
}

.heading {
	font-size: 80px;
	font-weight: 700;
	line-height: 86px;
	letter-spacing: -5px;
}

.intro {
	font-size: 32px;
	font-weight: 400;
	line-height: 46px;
	letter-spacing: -1px;
	padding-top: 40px;
}

.slider img {
	width: 120px;
  animation: scroll 60s linear infinite;
}

.slide-track {
  width: 100%;
  display: flex;
  gap: 2em;
  overflow: hidden;
}

.slider {
  padding: 20px 10% 120px 10%;
}

@keyframes scroll {
  0% {transform: translateX(0);}
  100% {transform: translatex(-1000%)}
}

.project1 {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 80px;
	padding-bottom: 80px;
	margin: 0 auto;
	background-color: #FCCF00;
	color: black;
}

.company_container {
 padding-bottom: 4px;
}

.project_logo img {
	width: 60px;
	display: inline-block;
}

.company {
	font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
	font-size: 12px;
	display: inline-block;
}

.name {
	font-weight: 600;
	display: inline-block;
}

.title {
	font-size: 44px;
	font-family: "Inter", sans-serif;
	font-weight: 200;
	width: 100%;
	line-height: 50px;
	letter-spacing: -2px;
	padding-bottom: 40px;
}

.project_hero {
	width: 100%;
}

.project_hero img{
	width: 100%;
}

.description_container {
	width: 100%;
	display: flex;
	font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
	font-size: 13px;
	padding-top: 4%;
}

.content_left {
	width: 50%;
	letter-spacing: 1px;
}

.content_right {
	width: 50%;
	float: right;
	line-height: 22px;
}


.project2 {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 80px;
	padding-bottom: 80px;
	margin: 0 auto;
	background-color: black;
	color: white;
}


.project3 {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 80px;
	padding-bottom: 80px;
	margin: 0 auto;
	background-color: white;
	color: black;
}

.project4 {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 80px;
	padding-bottom: 80px;
	margin: 0 auto;
	background-color: black;
	color: #5F5F5F;
}

.project5 {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 80px;
	padding-bottom: 80px;
	margin: 0 auto;
	background-color: #BFBFBF;
	color: #1D1D1D;
}

.project6 {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 80px;
	padding-bottom: 80px;
	margin: 0 auto;
	background-color: white;
	color: black;
}

.footer {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 120px;
	padding-bottom: 120px;
	margin: 0 auto;
	background-color: white;
	color: #020202;
}

.footer h{
	font-weight: 300;
}



/*DESKTOP M*/

@media only screen and (max-width: 1440px) {
	.header {
		padding-left: 5%;
		padding-right: 5%;
		padding-top: 100px;
		padding-bottom: 80px;
		margin: 0 auto;
		background-color: white;
		color: #020202;
	}

	.heading {
		font-size: 80px;
		font-weight: 700;
		line-height: 86px;
		letter-spacing: -5px;
	}

	.intro {
		font-size: 32px;
		font-weight: 400;
		line-height: 46px;
		letter-spacing: -1px;
		padding-top: 40px;
	}

	.slider img {
		width: 100px;
	  animation: scroll 60s linear infinite;
	}

	.slide-track {
	  width: 100%;
	  display: flex;
	  gap: 2em;
	  overflow: hidden;
	}

	.slider {
	  padding: 20px 5% 120px 5%;
	}

	@keyframes scroll {
	  0% {transform: translateX(0);}
	  100% {transform: translatex(-1000%)}
	}

	.project1 {
		padding-left: 5%;
		padding-right: 5%;
		padding-top: 80px;
		padding-bottom: 80px;
		margin: 0 auto;
		background-color: #FCCF00;
		color: black;
	}

	.project2 {
		padding-left: 5%;
		padding-right: 5%;
		padding-top: 80px;
		padding-bottom: 80px;
		margin: 0 auto;
		background-color: black;
		color: white;
	}

	.project3 {
		padding-left: 5%;
		padding-right: 5%;
		padding-top: 80px;
		padding-bottom: 80px;
		margin: 0 auto;
		background-color: white;
		color: black;
	}

	.project4 {
		padding-left: 5%;
		padding-right: 5%;
		padding-top: 80px;
		padding-bottom: 80px;
		margin: 0 auto;
		background-color: black;
		color: #5F5F5F;
	}

	.project5 {
		padding-left: 5%;
		padding-right: 5%;
		padding-top: 80px;
		padding-bottom: 80px;
		margin: 0 auto;
		background-color: #BFBFBF;
		color: #1D1D1D;
	}

	.project6 {
		padding-left: 5%;
		padding-right: 5%;
		padding-top: 80px;
		padding-bottom: 80px;
		margin: 0 auto;
		background-color: white;
		color: black;
	}

	.footer {
		padding-left: 5%;
		padding-right: 5%;
		padding-top: 120px;
		padding-bottom: 120px;
		margin: 0 auto;
		background-color: white;
		color: #020202;
	}
}



/*MOBILE*/

@media only screen and (max-width: 600px) {

	.header {
		padding-left: 6%;
		padding-right: 6%;
		padding-top: 60px;
		padding-bottom: 60px;
		margin: 0 auto;
		background-color: white;
		color: #020202;
	}

	.heading {
		font-size: 64px;
		font-weight: 700;
		line-height: 64px;
	}

	.intro {
		font-size: 24px;
		font-weight: 400;
		line-height: 32px;
		padding-top: 40px;
	}

	.slider img {
		width: 88px;
	  animation: scroll 18s linear infinite;
	}

	.slide-track {
	  width: 100%;
	  display: flex;
	  gap: 1em;
	  overflow: hidden;
	}

	.slider {
	  padding: 0px 6% 80px 6%;
	}

	@keyframes scroll {
	  0% {transform: translateX(0);}
	  100% {transform: translatex(-1000%)}
	}

	.project1 {
		padding-left: 6%;
		padding-right: 6%;
		padding-top: 52px;
		padding-bottom: 68px;
		margin: 0 auto;
	}
	.project2 {
		padding-left: 6%;
		padding-right: 6%;
		padding-top: 52px;
		padding-bottom: 68px;
		margin: 0 auto;
	}
	.project3 {
		padding-left: 6%;
		padding-right: 6%;
		padding-top: 52px;
		padding-bottom: 68px;
		margin: 0 auto;
	}
	.project4 {
		padding-left: 6%;
		padding-right: 6%;
		padding-top: 52px;
		padding-bottom: 68px;
		margin: 0 auto;
	}

	.project5 {
		padding-left: 6%;
		padding-right: 6%;
		padding-top: 52px;
		padding-bottom: 68px;
		margin: 0 auto;
	}

	.project6 {
		padding-left: 6%;
		padding-right: 6%;
		padding-top: 52px;
		padding-bottom: 68px;
		margin: 0 auto;
	}

	.project2 a {
		color: white;
	}

	.company {
		font-family: "IBM Plex Mono", monospace;
	  font-weight: 400;
	  font-style: normal;
		font-size: 12px;
		display: inline-block;
		padding-bottom: 12px;
	}

	.title {
		font-size: 32px;
		font-family: "Inter", sans-serif;
		font-weight: 300;
		width: 100%;
		line-height: 36px;
		letter-spacing: -1px;
		padding-bottom: 28px;
	}

	.description_container {
		display: inline-block;
		font-family: "IBM Plex Mono", monospace;
	  font-weight: 400;
	  font-style: normal;
		font-size: 13px;
		padding-top: 32px;
	}

	.content_left {
		width: 100%;
		line-height: 14px;
		padding-bottom: 20px;
	}

	.content_right {
		width: 100%;
		line-height: 22px;
	}

	.footer {
		padding-left: 6%;
		padding-right: 6%;
		padding-top: 80px;
		padding-bottom: 80px;
		background-color: white;
		color: #020202;
	}

	.footer h{
		font-weight: 300;
	}
}
